{% extends "content.html" %} {%block title %} pagina 1 {% endblock %} {% load static %} {% block content1 %}
<img src='{% static "img/p3/hoja3.pNG" %}' alt="hoja" class="imgcentral">


<span class="cursiva-media">Agradecimientos</span>
<p class="left">
    <br>Antes de empezar estas páginas es necesario reconocer la ayuda y participación de todos<br> y cada uno de quienes las propiciaron, sin su ayuda, su inspiración y colaboración no <br> habría sido posible, son tantos que directa o indirectamente
    nos regalaron un granito de arena,<br> a quienes esperamos que el universo les recompense su generosidad y el <br> aprendizaje que nos regalaron, entre ellos, agradecer: <br> En primer lugar, a Dios, fuente de mayor inspiración, siempre entre nosotros
    con su luz <br> transformando nuestros corazones, dador de esta iniciativa. <br> A nuestros padres, los primeros y más grandes maestros de amor, a quien debemos el <br> regalo de la vida y su apoyo incondicional. <br> Al padre Hernando Uribe, gran
    maestro, quien nos instruye en el arte de cultivar <br> nuestro SER y sus maravillosas enseñanzas han sido el germen de estas páginas. <br> A Juanito, un ser humano excepcional, por regalarnos su elocuencia y sabiduría en la <br> narración de este
    libro. <br> A Alejandra rojas, quien diseñó con amor e inmensa creatividad estas páginas.<br> A Paula Ramírez, por su valiosa contribución, quien dejó plasmada su esencia en la<br> redacción y construcción del libro. <br> A Catalina Velez y a Carlos
    Sierra por ese maravilloso prólogo. <br> A Cristian Betancur, quien dedicó su tiempo y toda la experiencia para hacer de este<br> libro, una obra de arte. <br> Y en general a todos nuestros familiares y amigos, por las enseñanzas tácitas, por el <br>    tiempo compartido, por la paciencia en estos tiempos de escritura y frustración, pero<br> sobretodo por el inmenso amor que día a día nos transmiten y que son aliento para esta <br> iniciativa.
    <br>
    <br>

</p>
<img src='{% static "img/p3/firma.pNG" alt="firma" %}'> {% endblock %} {% block content2 %}
<span class="cursiva-media">Indice</span>
<p class="left">
    <ol>
        <a href=""> Prólogo 1<span>8</span></a>
        <a href=""> Prólogo 2<span>10</span></a>
        <a href=""> Introducción<span>12</span></a></a>
        <a href=""> La magia<span>17</span></a></a><br>
        <a href=""> Acto I - Agua</a>
        <a href=""> &emsp; -Cuestionario de autodimensión <span>28</span></a>
        <a href=""> &emsp; -Resultado de las áreas <span>43</span></a>
        <a href=""> &emsp; -Gráfica rueda de la vida <span>44</span></a>
        <a href=""> &emsp; -Referentes gráficos <span>46</span></a>
        <a href=""> &emsp; -¿Quién soy yo? <span>50</span></a>
        <a href=""> &emsp; -¿En qué soy o no exitoso? <span>52</span></a>
        <a href=""> &emsp; -Para vivir el elemento agua en nuestras vidas<span>54</span></a><br>

        <a href=""> Acto II - Tierra</a>
        <a href=""> &emsp; -¿Cuál es mi camino? <span>64</span></a>
        <a href=""> &emsp; -Gente / cosas ¿Qué significan para mi? <span>67</span></a>
        <a href=""> &emsp; -Mi camino es <span>71</span></a>
        <a href=""> &emsp; -¿Cuál es mi destino? <span>72</span></a>
        <a href=""> &emsp; -Mi destino es <span>77</span></a>
        <a href=""> &emsp; -Para vivir el elemento tierra en nuestras vidas<span>78</span></a><br>

        <a href=""> Acto III - Aire</a>
        <a href=""> &emsp; -¿Qué son creencias? <span>86</span></a>
        <a href=""> &emsp; -Creencias limitantes <span>93</span></a>
        <a href=""> &emsp; -¿cómo actúo? <span>94</span></a>
        <a href=""> &emsp; -¿Cómo cambiar tus creencias limitantes?<span>98</span></a>
        <a href=""> &emsp; -Preguntas para evaluar tus creencias <span>100</span></a>
        <a href=""> &emsp; -¿Qué son valores? <span>102</span></a>
        <a href=""> &emsp; -Valores principales <span>103</span></a>
        <a href=""> &emsp; -Mis fortalezas <span>105</span></a>
        <a href=""> &emsp; -Aspectos por mejorar <span>106</span></a>
        <a href=""> &emsp; -Para vivir el elemento aire en nuestras vidas<span>108</span></a><br>

        <a href=""> Acto IV - Fuego</a>
        <a href=""> &emsp; -Mis metas <span>116</span></a>
        <a href=""> &emsp; -Área espiritual <span>120</span></a>
        <a href=""> &emsp; -Área física<span>122</span></a>
        <a href=""> &emsp; -Área mental<span>124</span></a>
        <a href=""> &emsp; -Área emocional<span>126</span></a>
        <a href=""> &emsp; -Área lúdica<span>128</span></a>
        <a href=""> &emsp; -Área familiar<span>130</span></a>
        <a href=""> &emsp; -Área social<span>132</span></a>
        <a href=""> &emsp; -Área económica<span>134</span></a>
        <a href=""> &emsp; -Área ecológica<span>136</span></a>
        <a href=""> &emsp; -Área laboral<span>138</span></a>

        <a href=""> &emsp; -Para vivir el elemento fuego en nuestras vidas<span>140</span></a><br>
    </ol>

</p>
{% endblock %}