<div class="fotos">

    

    <button id="startbutton" class="btn btn-secondary"> guarda tu foto</button>
    <video id="videofoto" autoplay="true" width="800px" height="800px"></video>
    <script>
        const video1 = document.getElementById("videofoto")
        navigator.mediaDevices.getUserMedia({   
        audio: false,
        video: true
            }).then( (stream)=> {
                video1.srcObject1= stream;
                console.log(stream);
                console.log(video1)
    
                })
            .catch( (error)=> {
                console.log(error);
            });
    </script>
    <canvas id="canvas"></canvas>
    <style>
        .fotos {
            position: relative;
            flex-direction: column;
            justify-content: center;
            height: 860px;
            width: 850px;
            /*background-image: url('{% static "img/camara.png" %}');*/
            padding:10px;
            
            
        }
        
        #startbutton {
            margin-left: 45%;
            margin-top: 20px;
        }
        
        #perfil {
            position: relative;
            height: 320px;
            width: 320px;
            border-radius: 20%;
            margin-left: 320px;
            margin-top: 350px;
            z-index: -10;
        }
    </style>