
{% extends 'layout-home.html' %} 

{% block content3 %}

    <div class="libro-container">
        <img src='' alt="">
       
    </div>

    <main class="container py-5">
        <section class="card card-body">
            <h2 class="display">Magicamente</h2>
            <h3 class= "display">Bienvenido</h3>

           <div class="text-center">
            <a class="btn btn-dark" href="/login/">
                Ingresar
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Registrarse
            </a>
           </div>
           
        </section>
    </main>

    {% endblock %}
    <div class="ninguno" style="width: 0; height:0">
        {% block content2 %}
        {% endblock %}
    
        {% block content1 %}
        {% endblock %}
    

    </div>
   
   
