{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href='{% static "css/stylepage.css" %}'
      type="text/css"
    />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <header>{% include 'navigatebar.html' %}</header>

    <br />

    <div class="page">
      {% block imagenCentral %} {% endblock %} {% block content3 %}{% endblock %}

      <div class="content">
        <div class="next"> 
          <a href= {{anterior}}> <img src="{% static 'img/navigate/back.png' %}" ></a>
          
        </div>
        <div class="content1  " id="content1">
          {% block content1 %} {% endblock %}
        </div>

        <div class="content2 " id="content2">
          {% block content2 %} {% endblock %}
        </div>

        <div class= "next">
        <a href= {{siguiente}}> <img src="{% static 'img/navigate/next.png' %}" ></a> 
        </div>
        
      </div>
    </div>

    <footer>{% include 'footer.html' %}</footer>
  </body>
</html>
