{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="menu-container">
      <!-- burger menu
      <input type="checkbox" aria-label="Toggle menu" />
      <span></span>
      <span></span>
      <span></span> -->

      <!-- logo -->
      <a href="#" class="menu-logo">
        <img src='{% static "img/navigate/logo.png" %}' alt="magicamente"
        width="100px" />
      </a>

      <!-- menu items -->
      <div class="menu">
        <ul>
          <li>
            <a href="/home/" class="amenu"> Inicio </a>
          </li>
          <li>
            <a href="#pricing" class="amenu"> Blog </a>
          </li>
          <li>
            <a href="#blog" class="amenu"> Contacto </a>
          </li>
          <li>
            <a href="#docs" class="amenu"> Acerca de nosotros </a>
          </li>

          {% if user.is_authenticated %}
          
          <li>
            <a href="/logout/" class="amenu"> Logout </a>
            
          </li>
          {% else %} 
          <li>
            <a href="/login/" class="amenu"> Login </a>
          </li>
          <li>
            <a href="/signup/" class="amenu"> Registrarse </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block content%} {% endblock %}
  </body>
</html>
