{% extends 'layout.html' %}
{% block content %}
<h1>Bienvenido{{usuario}} estás en tu dashboard</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis impedit fugit, doloribus temporibus sunt earum dolore nemo corporis? Ullam doloribus quaerat alias, aperiam animi ad quis sapiente doloremque ex ducimus?
    Veniam voluptatum nesciunt necessitatibus repellendus consectetur vel maxime amet vitae dolorem reiciendis in laboriosam esse incidunt excepturi ipsam accusantium at, rerum aspernatur, iure consequatur dolores! Numquam veritatis optio vitae doloremque!
    Aperiam, blanditiis delectus, dolores neque possimus est recusandae ea corrupti tempora natus temporibus soluta dolorem dolorum, eveniet vero! Praesentium, rerum perferendis delectus iure vel natus dignissimos recusandae fuga enim et!
    In accusantium aliquid molestias nam itaque fugit error ipsum ducimus perferendis, dolore alias facere magni perspiciatis qui eum aspernatur quaerat, quia quo placeat corporis maiores autem. Molestiae mollitia tempora deserunt?
    Ratione, nulla pariatur cupiditate non provident laboriosam fugiat voluptatibus ex facilis, quam quas, sit incidunt in. Aperiam veritatis autem voluptatem tempora! Ipsum animi soluta illum asperiores debitis assumenda non facilis.
</p>
{% endblock %}
