{% extends 'layout-home.html' %}
{% block content3 %}
{% load static %}
<main class="container">

    <section>
        <br>
        <br>
        <h2>Bienvenido {{user}} </h2>

        <br>
        <br>

        <div class="container row">



            <div class="card m-lg-2" style="width: 18rem;">
                <img src="{% static './img/portada.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">El Libro de mi vida</h5>
                    <p class="card-text">Accede y empieza a crecer con el libro de mi vida</p>
                    <a href="/portada1/" class="btn btn-dark">Libro</a>
                </div>
            </div>

            <div class="card m-lg-2" style="width: 18rem;">
                <img src="{% static './img/logo.png' %}" class="card-img-top" alt="..." style="height: 10rem;">
                <div class="card-body " >
                    <h5 class="card-title">Magicamente</h5>
                    <p class="card-text">Conoce las Noticias y eventos de Magicamente</p>
                    <a href="/dashboard/" class="btn btn-dark">Ver más</a>
                </div>
            </div>

           






    </section>



</main>
{% endblock %}