{% extends "content.html" %} {%block title %} pagina 1 {% endblock %} {% load static %} {% block imagenCentral %}
<img src="{% static 'img/p3/hoja.png' %}" alt="imagenCentral" class="imgcentral" id="imagenCentral"> {% endblock %} {% block content1 %}



<span class="cursiva-media">Agradecimientos</span>
<p class="left">
    <br>Antes de empezar estas páginas es necesario reconocer la ayuda y participación de todos y cada uno de quienes las propiciaron, sin su ayuda, su inspiración y colaboración no habría sido posible, son tantos que directa o indirectamente nos regalaron
    un granito de arena, a quienes esperamos que el universo les recompense su generosidad y el aprendizaje que nos regalaron, entre ellos, agradecer: En primer lugar, a Dios, fuente de mayor inspiración, siempre entre nosotros con su luz transformando
    nuestros corazones, dador de esta iniciativa. A nuestros padres, los primeros y más grandes maestros de amor, a quien debemos el regalo de la vida y su apoyo incondicional. Al padre Hernando Uribe, gran maestro, quien nos instruye en el arte de cultivar
    nuestro SER y sus maravillosas enseñanzas han sido el germen de estas páginas. A Juanito, un ser humano excepcional, por regalarnos su elocuencia y sabiduría en la narración de este libro. A Alejandra rojas, quien diseñó con amor e inmensa creatividad
    estas páginas. A Paula Ramírez, por su valiosa contribución, quien dejó plasmada su esencia en la redacción y construcción del libro. A Catalina Velez y a Carlos Sierra por ese maravilloso prólogo. A Cristian Betancur, quien dedicó su tiempo y toda
    la experiencia para hacer de este libro, una obra de arte. Y en general a todos nuestros familiares y amigos, por las enseñanzas tácitas, por el tiempo compartido, por la paciencia en estos tiempos de escritura y frustración, pero<br> sobretodo por
    el inmenso amor que día a día nos transmiten y que son aliento para esta iniciativa.
    <br>
    <br>

</p>
<!-- <img src='{% static "img/p3/firma.pNG" alt="firma" %}'>  -->
<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width:70%; text-align:left">
    <p >Maricela García Álvarez</p>
    <p >Gonzálo Alvarez Arias</p>
    <p >Juan Arroyave</p>
</div>
{% endblock %} {% block content2 %}
<span class="cursiva-media">Indice</span>

<ol class="indice">
    <a href="/prologo1/"> Prólogo 1<span>8</span></a>
    <a href="/prologo2/"> Prólogo 2<span>10</span></a>
    <a href="/intro1/"> Introducción<span>12</span></a></a>
    <a href="/magia01/"> La magia<span>17</span></a></a><br>
    <a href="/agua01/"> Acto I - Agua</a>
    <a href="/agua03/"> &emsp; -Cuestionario de autodimensión <span>28</span></a>
    <a href="/grafica1/"> &emsp; -Resultado de las áreas <span>43</span></a>
    <a href="/grafica1/"> &emsp; -Gráfica rueda de la vida <span>44</span></a>
    <a href="/grafica2/"> &emsp; -Referentes gráficos <span>46</span></a>
    <a href="/la-persona-importante/"> &emsp; -¿Quién soy yo? <span>50</span></a>
    <a href="/actuar1/"> &emsp; -¿En qué soy o no exitoso? <span>52</span></a>
    <a href="/quiensoy1/"> &emsp; -Para vivir el elemento agua en nuestras vidas<span>54</span></a><br>

    <a href="/tierra001/"> Acto II - Tierra</a>
    <a href="/tierra003/"> &emsp; -¿Cuál es mi camino? <span>64</span></a>
    <a href="/tierra005/"> &emsp; -Gente / cosas ¿Qué significan para mi? <span>67</span></a>
    <a href=""> &emsp; -Mi camino es <span>71</span></a>
    <a href=""> &emsp; -¿Cuál es mi destino? <span>72</span></a>
    <a href=""> &emsp; -Mi destino es <span>77</span></a>
    <a href=""> &emsp; -Para vivir el elemento tierra en nuestras vidas<span>78</span></a><br>

    <a href=""> Acto III - Aire</a>
    <a href=""> &emsp; -¿Qué son creencias? <span>86</span></a>
    <a href=""> &emsp; -Creencias limitantes <span>93</span></a>
    <a href=""> &emsp; -¿cómo actúo? <span>94</span></a>
    <a href=""> &emsp; -¿Cómo cambiar tus creencias limitantes?<span>98</span></a>
    <a href=""> &emsp; -Preguntas para evaluar tus creencias <span>100</span></a>
    <a href=""> &emsp; -¿Qué son valores? <span>102</span></a>
    <a href=""> &emsp; -Valores principales <span>103</span></a>
    <a href=""> &emsp; -Mis fortalezas <span>105</span></a>
    <a href=""> &emsp; -Aspectos por mejorar <span>106</span></a>
    <a href=""> &emsp; -Para vivir el elemento aire en nuestras vidas<span>108</span></a><br>

    <a href=""> Acto IV - Fuego</a>
    <a href=""> &emsp; -Mis metas <span>116</span></a>
    <a href=""> &emsp; -Área espiritual <span>120</span></a>
    <a href=""> &emsp; -Área física<span>122</span></a>
    <a href=""> &emsp; -Área mental<span>124</span></a>
    <a href=""> &emsp; -Área emocional<span>126</span></a>
    <a href=""> &emsp; -Área lúdica<span>128</span></a>
    <a href=""> &emsp; -Área familiar<span>130</span></a>
    <a href=""> &emsp; -Área social<span>132</span></a>
    <a href=""> &emsp; -Área económica<span>134</span></a>
    <a href=""> &emsp; -Área ecológica<span>136</span></a>
    <a href=""> &emsp; -Área laboral<span>138</span></a>

    <a href=""> &emsp; -Para vivir el elemento fuego en nuestras vidas<span>140</span></a><br>
</ol>


{% endblock %}




{% include 'footer.html' %}

