
{% extends "content.html" %} {%block title %} pagina 1 {% endblock %} {% load static %} {% block content1 %}


<h2 class="cursiva-media">Prólogo 1</h2>

<p class="left">
    He tenido la fortuna de elegir en esta experiencia de vida ser médica y a través del servicio ayudar a otros a sanar en su proceso de vida multidimensional: física, emocional, mental y espiritual. Como todo buen sanador sabe, nadie puede alcanzar niveles
    de maestría si no ha sido parte y fin en cualquier actividad que emprenda. Hace 11 años tuve una experiencia de vida que me llevó a crecer a todo nivel, porque pasé a ocupar el espacio que solían ocupar mis pacientes, tuve el privilegio de estar en
    sus zapatos y ese fue el regalo más grande que mi propio ser pudo darme; aprendí a ser paciente, superé varios procesos de muertes clínicas y logré descubrir en mi propio transitar entre lágrimas, esfuerzos y aprendizajes el poder que encierra la
    magia del autodescubrimiento, y más importante aún, el valor de ser conscientes de esa magia que acontece en cada ser humano, al comienzo casi de manera imperceptible y con un crecimiento exponencial cuando lo haces consciente. Este descubrimiento,
    querido lector, es el camino que estás por comenzar, ya que en este libro puedes INTUIR, desde el título, el maravilloso viaje que te espera. Si me lo permites, te pregunto: si dependiera de ti, ¿qué requerirías para poder vivir como tú quieres?

</p>


{% endblock %} {% block content2 %}

<p>

    De un modo sencillo, práctico y sensible, los autores te invitan a un recorrido por esos maravillosos cuatro elementos que hacen posible que tu presencia en este mundo SEA POSIBLE. Así, de una manera metafórica comprenderás el poder de esos elementos
    constitutivos que habitan en ti y que son la herramienta para que tu magia interior crezca y te lleve a ese lugar que deseas alcanzar.
    <br>
    <br> Cuando finalmente comprendas que este permanente juego de roles que desempeña cada uno de los seres vivientes que habita este planeta,- Maestro y Aprendiz-, son la mejor herramienta para descubrir tu magia interior, es cuando abres la puerta
    a esa magia que a través de cada página irá haciéndose para ti cada vez más palpable, aprenderás a jugar con ella aprovechando tus sentidos para cada día saber con deleite y gratitud quién eres y para qué haz decidido vivir esta maravillosa aventura
    de habitar esta tierra. Finalmente te invito querido lector a dejarte seducir por cada imagen, palabra, sensación y acción que despierte en ti este hermoso libro de autodescubrimiento y deseo que para ti sea tan grato como lo fue para mí. Solo al
    leerlo y trabajarlo podrás saber con certeza.

    <br><br> Catalina María Vélez Ruiz <br> Septiembre 17 del 2017


</p>
{% endblock %}