{% extends "content.html" %} {%block title %} Prologo 2 {% endblock %} {% load static %} {% block content1 %}
<h2 class="cursiva-media">Prólogo 2</h2>

<p class="left">
    El UNIVERSO, es Uni-Verso. Esto es: un verso; verso es canción y esta es armonía. O sea que el universo es UNA ARMONÍA. Parto de este juego de palabras, que el español, nuestra dulce lengua, me permite hacer, para expresar mi apreciación acerca del libro
    “EL LIBRO DE MI VIDA” que ahora usted tiene en sus manos. Siendo el universo una sola armonía, está compuesto por un número infinito de universos, dado por la percepción de cada ser con respecto al universo desplegado en cada decisión tomada por él
    en el tiempo (pasado, presente o futuro). Y no hay contradicción al decir que el número de universos es uno y a la vez es infinito. Esta es la magia que la condición de ser seres superiores nos permitirá entender con facilidad. Pero para lograr asimilar
    la condición de seres superiores, es necesario hacer un recorrido espiritual que puede ser un instante eterno en el que comprendamos la interrelación perfecta que hay entre todo lo que compone el universo (objetos, seres, entidades, materiales o inmateriales).
    Ese es nuestro potencial, pero para alcanzarlo es preciso avanzar en nuestro desarrollo espiritual y hay que admitir que quienes estamos en esta dimensión existencial, estamos en el preescolar del desarrollo de ese potencial. Así que requerimos de
    aprendizaje, mucho aprendizaje. Cada paso de una dimensión existencial a otra es, como en la etapa escolar, avanzar de un grado a otro. “EL LIBRO DE MI VIDA” nos aporta valiosos elementos que nos permiten entender y aprender de forma sencilla, amena
    y práctica cómo interactuar armónicamente con el universo que somos, que construimos perceptualmente y del cual somos parte imprescindible. Parte el libro de invitarnos a acoplarnos en y para todos y cada uno de los elementos que básicamente, en la
    antigüedad, se distinguían como componentes esenciales únicos y totales del universo. Ellos, Aire, Agua, Tierra y Fuego, nos permiten separar lo inseparable para efectos de adentrarnos en la comprensión de ser seres superiores obligados a crear, componer



</p>


{% endblock %} {% block content2 %}

<p>


    “EL LIBRO DE MI VIDA” nos lleva por definiciones hermosamente presentadas, en lenguaje sencillamente asequible y no por ello menos profundo, que permitirán tanto al poco erudito como al maestro, compartir conceptos para vivir armónica y felizmente. “EL
    LIBRO DE MI VIDA”, para quien desee un vivir mejor, no es uno para leer y pasar al siguiente que tenemos en la mesa de noche. El libro es para utilizarlo como guía cotidiana en el proceso de mejoramiento espiritual y no riñe con acompañarlo de los
    consejos en otros libros o personas que quieran aportarnos para el logro de la mencionada armonía. Es un libro de reflexión espiritual universal y por ello no está encajonado por ninguna religión en particular, y no debe reñir con los criterios de
    ninguna orientación religiosa encaminada al bien del universo. Se parte, eso sí, de reconocer al ser supremo, a la energía suprema, al uno, al todo, al ser del que somos parte integral, que está en cada uno de nosotros y en el que cada uno de nosotros
    está. Sea esta pues, una invitación a que disfrutes este libro con la fe necesaria de entender que todo lo puedes, si te mueve el interés de actuar en armonía con el universo. Gracias a Gonzalo y a Maricela por compartir estas enseñanzas. y recomponer
    continuamente el universo. Cuando cada ser, como usted, administre eficientemente la armonía esencial que le compete, habrá reconstruido el paraíso prometido en el que se vivirá en felicidad plena. Entendiendo felicidad como el estado en el que frente
    a toda circunstancia se tiene la paz, la tranquilidad y la serenidad que da la comprensión de su presencia, de sus causas y consecuencias, y de su mejora en camino a la perfección. Ser feliz, pues, es cuestión de que usted cree esa entidad (la felicidad)
    y para ello debe ser consciente de lo que es la armonía del universo que usted percibe y construye y que es parte imprescindible e infaltable del UNI-VERSO.

    <br> <br> Carlos Alberto Sierra Serna <br> Perceptólogo Medellín, agosto 14 de 2017 <br>



</p>

{% endblock %}