{% extends "content.html" %} {%block title %} pagina 1 {% endblock %} {% load static %} {% block content1 %}



<img src="{% static 'img/intro1/introbg2.png' %}" class="imgcentral">
<img src="{% static 'img/intro1/intro-logo.png' %}" alt="" class="portrait"> {% endblock %} {% block content2 %}
<img src="{% static 'img/intro1/introbg2.png' %}" class="imgcentral">
<p>

    ¿Qué tal si comenzamos por una breve pausa en tu vida? Durante tantos años te has preparado, has estudiado, has trabajado, has orado, siempre en busca de frutos emocionales, intelectuales, espirituales, económicos… ¿Hasta qué punto has logrado estos frutos?
    ¿Crees que son suficientes, o aspiras a una vida más plena en todo sentido?
    <br>
    <br> Precisamente son estas inquietudes las que originan el libro que ahora tienes en tus manos.
    <br>
    <br> “Los planes no son nada, la planeación lo es todo”, enseña un sabio adagio de Dwight D. Eisenhower, quien planificó y ejecutó con éxito la invasión contra la Alemania Nazi en Francia (el día D) y luego fue presidente de los Estados Unidos. <br>
    <br> Aunque creas que no sabes NADA de planeación, SÍ sabes mucho. Durante tu corta o larga vida has venido tomando decisiones que te han llevado a donde estás ahora. Y cada decisión es un elemento de la planeación. <br>
    <br> La planeación no habla de lo que harás mañana, sino de lo que harás a partir de hoy para llegar a donde quieres estar mañana.
    <br><br> 1. Revisa un evento reciente, de corta duración, que necesitaste planear para que tuviera éxito: por ejemplo, una salida de vacaciones, o la participación en un curso breve, o la creación y lanzamiento de un pequeño negocio personal. Reflexiona
    sobre qué elementos tuviste en cuenta, y cuáles se nota ahora, o bien que sobraban, o por el contrario que faltaban en ese proceso. ¿Qué ha resultado de esto? ¿Qué aprendo para el resto de mi vida? ¿Qué me falta aprender mejor, cómo lo haré?
    <br><br> 2. Revisa tu CAMINO (misión), dónde estás hoy y cómo lo has logrado (acciones planeadas y fortuitas o no planeadas): situación actual en tu vida (personal, familiar, profesional, de salud…): ¿hasta dónde has llegado, qué tan satisfecho estás
    con esto? Reflexiona sobre qué elementos tuviste en cuenta para llegar acá, y cuáles se nota ahora, o bien que sobraban, o por el contrario que faltaban en ese proceso. ¿Qué ha resultado de esto? ¿Qué aprendo para el resto de mi vida? ¿Qué me falta
    aprender mejor, cómo lo haré?
</p>

{% endblock %}