{% extends "content.html" %} {%block title %} pagina 1 {% endblock %} {% load static %} {% block imagenCentral %}
<img src="{% static 'img/intro1/intro2.png' %}" alt="imagenCentral" class="imgcentral" id="imagenCentral"> {% endblock %} {% block content1 %}

<h2 class="cursiva-media">Ahora bien terminando este ejercicio te contaremos lo siguiente:</h2>


<p>
    Para ti como persona la alegría por la vida nace del conocimiento que, como ser humano puedes tener de ti mismo: este define los pensamientos, los sentimientos y las acciones que debes llevar a cabo para vivir con la plenitud que deseas, y que te permita
    experimentar esa alegría en todas las facetas de tu vida.
    <br><br> Hace un tiempo un grupo de amigos nos reunimos a pensar sobre ¿Qué podríamos llevar a cabo que nos permitiese servirle a la humanidad y a nosotros mismos en el crecimiento constante de nuestro ser? Fue en ese momento cuando recordamos esas
    tres palabras de las que tanto se habla en nuestro camino, pero a las que muy poca atención se les suele prestar. Esas tres palabras son PROYECTO DE VIDA. Todos tenemos uno, o al menos eso creemos, muchas personas logran gestionar efectivamente sus
    vidas, de diversas maneras, y de ahí el éxito de las cosas que emprenden.
    <br><br> Encontramos en algunas herramientas pedagógicas que se venían aplicando en los lugares en los que cada uno de nosotros se empleaba, una primera forma de construir nuestra propia versión de un proyecto de vida. Después de mucho pensar, investigar
    y cuestionar, encontramos el hilo conductor de lo que ahora es EL LIBRO DE MI VIDA, el cual queremos que se constituya en una herramienta para el autorreconocimiento y la gestión adecuada de tu propia vida.


</p>

{% endblock %} {% block content2 %}

<p>

    Querido lector: podrás encontrar en nuestro libro diferentes conceptos y herramientas, que te guiarán por el camino del autodescubrimiento. Al recorrerlo, te invitaremos a ejecutar una serie de ejercicios que se plantean para el buen desarrollo de la
    metodología, y podrás contemplar que, como seres humanos, somos muchas cosas extraordinarias en este viaje tan maravilloso llamado VIDA.
    <br><br> El libro está dividido en
    <span class="cursiva-media">Actos y Elementos.</span> En los actos siempre podrás leer una historia introductoria, que ocurre entre dos personajes ficticios (maestro y discípulo), que intentan explicar, a través de sus vivencias, los pensamientos
    y sentimientos que pasan por la mente consciente. Los actos se dividen en escenas, como si de una película se tratase: la película de tu propia vida, en la que te identificarás tú mismo como protagonista, a medida que avances en el desarrollo de los
    ejercicios. Te será fácil comprobar en cada acto la profundidad y la amplitud de conocimiento que tienes sobre ti. Los elementos de la naturaleza, como el agua, la tierra, el aire y el fuego, hacen parte de esta metodología, ya que nosotros, inspirados
    en diversas culturas como la china, la egipcia, la hindú, y otras que han atribuido al hombre una conexión especial con la naturaleza, hemos construido información detallada con la que podrás interactuar con cada elemento en ti y en la que podrás
    ver cómo el equilibrio de los cuatro elementos supone una vida más ordenada y feliz.

    <br><br> Agradecemos que el libro se encuentre en tus manos. Dispón tu cuerpo, tu mente, tu emoción y tu espíritu, para que puedas disfrutar de este viaje de magia interior en el que tú eres el protagonista principal del “Libro de mi Vida”.

</p>

{% endblock %}