{% extends "content.html" %} {%block title %} pagina 1 {% endblock %} {% load static %} {% block content1 %}


<img src="{% static 'img/color/LibroDeMiVidaN.png' %}" alt="" class="portrait">
<div class="container">
    <div id="amarillo"></div>
    <div id="azul"></div>
    <div id="rojo"></div>
    <div id="naranja"></div>
    <div id="azul2"></div>
    <div id="verde"></div>
    <div id="verde2"></div>

</div>

{% endblock %} {% block content2 %}

<h2 class="cursiva-media"> la magia</h2>

<p>

    <br> La magia vive en la inocencia de la transformación, es espontánea y surge de la mente de cada ser. La magia trasciende lo percibido por los sentidos, pues surge de la consciencia. Hablamos de la magia como inspiración, creatividad y entusiasmo.
    <br> Para ilustrarte mejor sobre este concepto, viene a mi mente la historia de un maestro y su joven discípulo, aprendiz de mago, quienes, a través de la observación de la naturaleza y su flujo en el mundo, logran comprender las singularidades de
    la consciencia, la mente humana y la relación que existe entre ambos aspectos y la magia.
    <br><br> ¿Qué es la magia? Preguntó el joven discípulo a su maestro.
    <br> Tras varios segundos de silencio, el maestro respondió: <br> - La magia, mi querido aprendiz, es transformación. <br> ¿A qué te refieres con transformación? Inquirió el joven discípulo <br> - Transformación es cambio, Dime, ¿Has visto alguna
    vez cómo nace una mariposa? <br> Sí, maestro, alguna vez pude ver el proceso. <br> -Bien, dime ¿qué fue lo que más llamó tu atención? <br> Lo que más llamó mi atención fue ver cómo con el paso de cada hora su forma nunca fue la misma, siempre estaba
    cambiando de un estado a otro en poco tiempo; Finalmente, cuando terminó de romper su capullo y abrió sus alas, fue maravilloso verla emprender el vuelo. <br> <br> -El maestro, mirándole fijamente y con una dulce sonrisa, le dijo: <br> - Eso que has
    visto es la transformación, todo bajo el cielo que cobija nuestra existencia vive de este modo, en cambio permanente, instante tras instante. Has de estar atento para aprender a ver el cambio en cada cosa, y ser consciente de todo lo que ocurre en
    la naturaleza y cómo lo vive tu mente.

</p>

{% endblock %}