{% extends "content.html" %} {%block title %} pagina 1 {% endblock %} {% load static %} {% block content1 %}

<p>
    Pero maestro no entiendo algo: ¿Qué tiene que ver mi mente con la transformación?
    <br> - Tu mente es el testigo, el observador de la historia del mundo, tu mente es la consciencia que comprende cómo ocurren las cosas, tu mente conectada con el universo es el regalo que te fue entregado para vivir plenamente tu existencia, una mente
    conectada con cada suceso también experimenta la transformación: ser testigo, mi querido discípulo, es transformarse.
</p>

<p>
    Luego de un largo silencio el joven discípulo hizo la última pregunta de esa tarde: <br> <br> -Maestro, si la magia es transformación y la mente es consciencia, ¿puede el hombre hacer magia con su mente?, es decir ¿puede el hombre ser consciente de
    la transformación? <br> <br> - Mi querido aprendiz, ese es el motivo de estar aquí en este plano material. Para que puedas lograr un equilibrio en tu vida, has de practicar la magia de la transformación todo el tiempo. Así, para aprender a estar consciente
    plenamente de lo que ocurre en todo instante, requieres estar atento, y para estar atento solo necesitas observar, percibir, sentir y nunca distraerte del momento.
    <br> <br>
    <h2 class="cursiva-media"> Solo somos Instante</h2>
</p>


{% endblock %} {% block content2 %}


<section class="amatic">
    Somos y estamos para vivir mágicamente <br> y nosotros, querido lector, hemos <br> venido a compartir contigo cómo despertar la <br> magia de la transformación que existe en ti. <br> Abramos juntos el “libro de mi vida” y contigo <br> como ese mago
    que viniste a ser, escribiremos tu <br> historia.
    <br>

    <span> <tr>    </tr><img src="{% static 'img/intro1/llama.png' %}" alt=""></span> {% endblock %}


</section>