{% extends "content.html" %} {%block title %} pagina 1 {% endblock %} {% load static %} {% block content1 %}


<p>

    En este acto evaluaremos nuestra vida en las dimensiones del ser: podrás establecer una relación entre tu cuerpo, tu mente, tu emoción, tu espíritu y examinar cómo las diversas acciones que llevas a cabo afectan a cada una de ellas. Compartiremos contigo
    una herramienta pedagógica para realizar esta evaluación que te dará claridad sobre esto. En este primer acto, entraremos en contacto con el elemento agua, aprenderemos de sus beneficios y cómo ponerlo en armonía en nuestras vidas.
    <br> <br> La calidad de lo que pensamos determina en gran medida lo que hacemos, por eso, debes empezar a trabajar en los pensamientos adecuados que deben acompañarte todo el tiempo para tener una vida más equilibrada. Comienza repitiendo la siguiente
    frase que te ayudará a mantener un pensamiento positivo, preferiblemente a primera hora de la mañana y cada que lo quieras hacer. Así tendrás la certeza de abrazar los cambios en ti mismo y reafirmarte en lo positivo.
    <br> <br> “Yo <strong>{{user}} </strong>estoy abierto(a) y receptivo(a) a todos los regalos de Dios y de su universo. Provengo de una fuente divina de abundancia, por eso reclamo aquí y ahora sus bendiciones en mi vida”. En el presente documento encontrarás
    algunas pautas para gestionar tu vida, es decir, descubrirte, entenderte, aceptarte, planear tu vida y mejorar en todas las dimensiones de tu infinito potencial humano.
    <br><br>

    <section class="recuadro">
        <h3 class="cursiva-media"> Recuerda: </h3>
        <br> Tú eres la única persona responsable de ti y de que tus metas y propósitos de vida se conviertan en realidad.
    </section>
</p>
{% endblock %} {% block content2 %}


<style>
    .backimage {
        margin-top: 25%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('{% static "img/agua/back01.png" %}');
        background-size: contain;
        background-repeat: no-repeat;
        width: 90%;
        height: 90%;
        font-weight: 300;
    }
</style>

<section class="backimage">

    <h3 class="cursiva-media"> Tú despiertas la magia que existe en ti.</h3>
    <p>
        <h5>Trabajemos sobre el primer elemento:</h5> <br>
        <h5>AGUA.</h5>
        <br> El 70% de la masa corporal de una persona adulta está compuesto por el agua, y el 71% de la superficie de la tierra es agua. Este es un elemento que habla de la fluidez, la serenidad, de ser flexible ante las lecciones de la vida, de andar
        sin detenerse y de ser cambiante en todas las dimensiones de tu ser.
    </p>

</section>


{% endblock %}