{% extends "content.html" %} {%block title %} pagina 1 {% endblock %} {% load static %} {% block content1 %}

<h1 class="cursiva-media"> Agua</h1>
<p>



    <span class="italic"> -Maestro: ¿Por qué el agua nunca se detiene y aun cuando está en reposo parece adaptarse a la forma y continuar su curso?</span>
    <br> – Mi querido aprendiz: en tu pregunta habitan las respuestas. Precisamente la cualidad del agua es la capacidad de adaptarse a todas las circunstancias, el autoconocimiento de sus propias fortalezas y debilidades le ha permitido entender que
    el movimiento es una constante y por ello detenerse ha dejado de ser prioridad para su camino. Sé pues como el agua, que aun en reposo mantiene su movimiento interno, siempre fluido, siempre adaptado, siempre libre, siempre viéndose en todo y reflejándolo
    todo.
    <br>
    <span class="italic"> Pero no comprendo ¿Cómo puedo estar en reposo y mantener el movimiento? </span>
    <br> - Es algo muy simple y solo requiere de la concentración en el momento de aparente reposo, quiero que te observes en tu intento de quietud y escuches con atención el latido de tu corazón, el sutil movimiento de tu cuerpo por la respiración y
    el parpadeo de tus ojos. Dime ¿acaso estas acciones las puedes llamar quietud? -no existen maneras, mi querido aprendiz, de permanecer en la no acción. Así mismo, el hombre necesita ser consciente de los movimientos naturales de su cuerpo, y de su
    propio ser, para poder reconocerse.
    <br> <br> El agua que habita en nuestro ser nos invita a una evaluación constante de nuestro movimiento interno, en coherencia con nuestras acciones externas. El mundo interno y el externo, conectados de manera consciente, nos permiten emular el movimiento
    del agua siempre fluido, siempre en armonía, siempre libre y preparado para el cambio, para tomar la forma de las circunstancias permitiéndose la total adaptación a las diferentes realidades que experimentemos en nuestra historia personal. Experiencias
    como observarse, reflejarse, compartirse, ser claro, ser coherente y ser consciente para que la vida tenga nuestro sello impregnado en cada espacio por el que transite nuestro ser.

</p>
{% endblock %} {% block content2 %}


<h2 class="cursiva-media">¡Qué maravilloso saber como va mi vida hoy!</h2>
<p>



    En el presente acto pudimos ver cómo el maestro y su discípulo llegaron a un entendimiento total del elemento agua, y cómo guarda coherencia con la vida. En el siguiente ejercicio que te queremos plantear, vas a poder evaluar diferentes aspectos de tu
    ser que permitirán encontrarte en un estado de claridad.
    <br> Recuerda que el elemento agua nos plantea el autodescubrimiento y la capacidad de adaptarnos al entorno. Te invitamos ahora a disfrutar este ejercicio que te ayudará a comprender cómo te encuentras hoy. Al ser consciente de ti mismo te será más
    fácil comprender en qué áreas de tu vida debes fortalecerte.
    <br> Nuestra experiencia nos ha mostrado que estas son las áreas más importantes para tu crecimiento:

</p>
<style>
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px;
        flex-wrap: wrap;
        width: 60%;
        text-decoration: none;
    }
    
    .yellow {
        background-color: yellow;
        border-radius: 20%;
        padding: 5px;
        text-decoration: none;
        margin: 10px;
    }
    
    .green {
        background-color: green;
        border-radius: 20%;
        padding: 5px;
        text-decoration: none;
        margin: 10px;
    }
    
    .blue {
        background-color: blue;
        border-radius: 20%;
        padding: 5px;
        text-decoration: none;
        margin: 10px;
    }
    
    .fuchsia {
        background-color: fuchsia;
        border-radius: 20%;
        padding: 5px;
        text-decoration: none;
        margin: 10px;
    }
    
    .orange {
        background-color: orange;
        border-radius: 20%;
        padding: 5px;
        text-decoration: none;
        margin: 10px;
    }
    
    .orangered {
        background-color: orangered;
        border-radius: 20%;
        padding: 5px;
        text-decoration: none;
        margin: 10px;
    }
    
    .violet {
        background-color: violet;
        border-radius: 20%;
        padding: 5px;
        text-decoration: none;
        margin: 10px;
    }
    
    .red {
        background-color: red;
        border-radius: 20%;
        padding: 5px;
        text-decoration: none;
        margin: 10px;
    }
</style>
<ul class="lstas">
    <li class="yellow">Física</li>
    <li class="green">Mental</li>
    <li class="violet">Emocional</li>
    <li class="blue">Lúdica</li>
    <li class="orange">Familiar</li>
    <li class="red">Social</li>
    <li class="fuchsia">Económica</li>
    <li class="orangered">Económica</li>
    <li class="green">Ecológica</li>
    <li class="blue">Laboral</li>

</ul>
<p>
    <br> Debes ser honesto contigo en el ejercicio, para que tu movimiento natural te guíe de forma fluida por la aventura del autodescubrimiento. Te invitamos a ser como el agua, transparente, fluido y sereno.
    <br> Debes desliar en cada pregunta del siguiente cuadro de 10 a 100 de acuerdo con el cumplimiento que tengas, según la pregunta, teniendo en cuenta que 10 es lo mínimo y 100 lo máximo.
</p>




{% endblock %}