{% extends 'layout.html' %} {% load static %} {% block content1 %}
<img src="{% static 'img/19/01.png' %}" class="imgcentral" />

<br>
<br>
<br>
<h2 style="color: whitle;"> Se llegó la hora de <h2>
  <h3 class= 'cursiva-media'> actuar para seguir <h3>

{% endblock %} {% block content2 %}
<img src="{% static 'img/19/02.png' %}" class="imgcentral" />

<p class="center">
  Sugerimos que en una hoja amarilla (El amarillo es el color de la <br />
  sabiduría y del entendimiento, estimula la iluminación y la <br />creatividad,
  genera mayor nivel de<br />
  concentración y da un pensamiento más rápido).<br /><br />
  Escribe los aspectos detallados<br />
  del cuestionario de autodimensión en los que tuviste menor <br />puntaje y por
  lo tanto<br />
  debes trabajar, colocarlo en un lugar visible para que recuerdes <br />los
  aspectos a mejorar
  <br /> <br />
  En el ejercicio anterior pudiste definir cuales aspectos de tu vida<br />
   necesitan un cambio, estos generalmente se ven afectados por la <br />
   interpretación que tienes sobre ti mismo, pues eres el resultado <br />
   de tus pensamientos que terminan por convertirse siempre en acciones. 
   <br /><br />El siguiente ejercicio podrá ayudarte a entender,
    mucho mejor,<br /> cómo funciona tu ser. Toda la vida nos hemos visto<br />
    enfrentados a una realidad que parece ser compleja, la eterna <br />
    pregunta que nos confunde, debe ser respondida desde lo que 
    siento y no<br /> desde lo que tengo, ni desde lo que hago; los seres  humanos <br />
    estamos de paso por la tierra para recordar nuestra esencia<br /> divina, 
    somos seres espirituales<br /> teniendo una experiencia humana, así que cuando respondas

    <h4 class="cursiva-media">
        ¿Quién soy? solo <br />
        debes sentirlo
      </h4>
</p>





{% endblock %}
