{% extends 'layout.html' %} {% load static %} {% block content1 %}

<img src="{% static 'img/20/01.png' %}" class="imgcentral-i" />

  <div>
  <h3 class="cursiva-media">
    ¿QUIÉN SOY YO?
  </h3>
      <p class="center">
        Contesta esta pregunta diez veces. Evita darle respuesta a esta pregunta
        diciendo qué tienes o qué haces. Solo se trata de sentirlo.</p>
      </div>
      <form >
        <div class="qs" >
          <label for="1"> 1.</label>
          <input type="textarea" name="1" placeholder="" size="60"  />
        </div>
        
        <div class="qs">
          <label for="2">2.</label>
          <input type="textarea" name="2" placeholder="" size="60"  />
        </div>
        
        <div class="qs">
          <label for="3"> 3.</label>
          <input type="textarea" name="3" placeholder="" size="60"  />
        </div>
        
        <div class="qs">
          <label for="4"> 4.</label>
          <input type="textarea" name="4" placeholder="" size="60"  />
        </div>
        
        <div class="qs">
          <label for="5"> 5.</label>
          <input type="textarea" name="5" placeholder="" size="60"  />
        </div>
        
        <div class="qs">
          <label for="6"> 6.</label>
          <input type="textarea" name="6" placeholder="" size="60"  />
        </div>
        
        <div class="qs">
          <label for="7"> 7.</label>
          <input type="textarea" name="7" placeholder="" size="60"  />
        </div>
        
        <div class="qs">
          <label for="8"> 8.</label>
          <input type="textarea" name="8" placeholder="" size="60"  />
        </div>
        
        <div class="qs">
          <label for="9"> 9.</label>
          <input type="textarea" name="9" placeholder="" size="60"  />
        </div>
        
        <div class="qs">
          <label for="10">10.</label>
          <input type="textarea" name="10" placeholder="" size="60"  />
        </div>

      
      {% endblock content1 %} {% block content2 %}
      <img src="{% static 'img/20/02.png' %}" class="imgcentral-d" />
      
      <div class="qs">
        <label for="11">11.</label>
        <input type="textarea" name="11" placeholder="" size="60"  />
      </div>
      <br />
      <div class="qs">
        <label for="12">12.</label>
        <input type="textarea" name="12" placeholder="" size="60" />
      </div>
      <br />
      <div class="qs">
        <label for="13">13.</label>
        <input type="textarea" name="13" placeholder="" size="60"  />
      </div>
      <br />
      <div class="qs">
        <label for="14">14.</label>
        <input type="textarea" name="14" placeholder="" size="60"  />
      </div>
      <br />
      <div class="qs">
        <label for="15">15.</label>
        <input type="textarea" name="15" placeholder="" size="60"  />
      </div>
      <br />
      <div class="qs">
        <label for="16">16.</label>
        <input type="textarea" name="16" placeholder="" size="60"  />
      </div>
      <br />
      <div class="qs">
        <label for="17">17.</label>
        <input type="textarea" name="17" placeholder="" size="60"  />
      </div>
      <br />
      <div class="qs">
        <label for="18">18.</label>
        <input type="textarea" name="18" placeholder="" size="60"  />
      </div>
      <br />
      <div class="qs">
        <label for="19">19.</label>
        <input type="textarea" name="19" placeholder="" size="60"  />
      </div>
      <br />
      <div class="qs">
        <label for="20">20.</label>
        <input type="textarea" name="20" placeholder="" size="60"  />
      </div>
      <div class="qs">
        <label for="21">21.</label>
        <input type="textarea" name="21" placeholder="" size="60"  />
      </div>
      <div class="qs">
        <label for="22">22.</label>
        <input type="textarea" name="22" placeholder="" size="60"  />
      </div>
      <div class="qs">
        <label for="23">23.</label>
        <input type="textarea" name="23" placeholder="" size="60"  />
      </div>
    
    <br />
    <br />
    <button  class="btn btn-dark" id="btn-guardar" onSubmit={guardar(e)} style="z-index: 3;" >Guardar </button>
  </form>
  <script>
    /*guardar preguntas en usuario crear tabla de usuario*/
    const btn = document.getElementById('btn-guardar')

    function guardar(e){
      e.preventDefault();
      return (alert('guardado'))

    }
  </script>
  
    {% endblock content2 %}
  </h2>
</h2>
