{% extends 'layout.html' %} {% load static %} {% block content1 %}

<img src="{% static 'img/20/01.png' %}" class="imgcentral"/>

<h2 class="cursiva-media">¿En que creo que soy exitoso y por que?<h2>

<span class="center">
    Contesta de la misma forma

</span>


<form>
    
    <div class="qs" >
      <label for= '1'>1.</label>
      <input type="text" name="1" placeholder="________________________" size="30" required/>
    </div>
  </form>


{% endblock content1 %}

{% block content2 %}
<img src="{% static 'img/20/02.png' %}" class="imgcentral"/>
{% endblock content2 %}