{% extends 'layout.html' %}{% load static %} {% block imagenCentral %}

<img src="{% static 'img/elemento-agua/03.png' %}" class="imgcentral" />

{% endblock %} {% block content1 %}

<p class="center">
  Es importante estar conectado con la naturaleza de tu ser. Vamos a <br />
  sugerirte algunas frases, algunas acciones que puedes ejecutar para <br />
  conectar mejor el elemento agua en tu ser.

  <br /><br />
  El elemento agua simboliza al sanador, al purificador natural del ser y se
  <br />
  hacen necesarios en tu vida cada vez que tu salud se ve deteriorada por <br />
  descuido personal y falta de amor propio. Este elemento te evoca la paz y
  <br />
  la fluidez, en movimiento constante, nunca permitiendo que nada te <br />
  frene en tu camino.
</p>

<p
  class="amatic2"
  style="color: blue; font-size: 26px; padding: 0px; margin: 0; height: auto; font-weight: 600"
>
  Para despertar el agua en tu ser debes abandonar toda adicción <br />
  a la perfección, toda adicción al control de las cosas. Todo tiene su forma en
  <br />
  el universo y esa forma en sí misma es natural, no necesitas controlar <br />
  nada en lo absoluto.
</p>
<p class="center">
  Si aprendes a mantener un equilibrio entre el dar que nace de ti y el recibir
  que es un regalo, el amor universal podrá manifestarse y así mismo el agua de
  tu interior podrá fluir libre, apasionada y creativamente.
</p>
<p class="cursiva-media center" style="margin: 0; padding: 0; font-weight: 600">
  Te invitamos a hacer la siguiente meditación en busca de ese equilibrio:
</p>

{% endblock content1 %} {% block content2 %}

<h2
  class="cursiva-media center"
  style="margin: 0; padding: 0; font-weight: 600"
>
  Meditación:
</h2>
<p class="center" style="margin:0;">
  Durante 10 o 15 minutos practica la <br> meditación del agua que te proponemos. <br> 
  Adopta la siguiente posición: estirado <br> boca arriba con la mano derecha sobre 
  el corazón y <br> la izquierda sobre la mano derecha, respira <br> profundo y
  concéntrate en los latidos de tu <br> corazón, para despertar la consciencia <br> del
  agua interna. No intentes controlar tus <br> pensamientos, deja que fluyan como el agua, <br>
  del mismo modo que deben hacerlo tus <br> emociones.</p>
  <br><br>
<p class="amatic2" style="color: blue; padding: 0px; margin: 0; height: auto; font-weight: 600">
  Frases de poder:
</p>

<p class="cursiva-media center" style="margin: 0; padding: 0; font-weight: 600; font-size:30px">
  - Mi vida fluye con la energía natural del universo. <br />
  - Soy el agua siempre viva y siempre fresca <br />
  - Soy amor, salud y armonía. <br />
</p>
<br> <br> 
<div style="width: 75%; background-color:rgb(29, 102, 220); color:white">
    <p class="center">
        Para introyectar el elemento agua te sugerimos escribir estas frases <br> donde las puedas leer diariamente
    </p>
</div>

{% endblock content2 %}
