{% extends 'layout.html' %}{% load static %}{% block content1 %}


  <h2 
  class="cursiva-media"
  style="margin-top: 0; padding: 0; font-weight: 600; position:absolute"
>
¡Felicitaciones tu eres extraordinario!
<br><br><br><br><br>
</h2>



{% endblock content1 %} 

{% block imagenCentral %}

<img src="{% static 'img/elemento-agua/04.png' %}" class="imgcentral" style="opacity: 90%;"/>

{% endblock %} 

{% block content2 %}


<p class="center" style="margin:0;" >
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  Has completado el primer acto del elemento agua. En este proceso de <br>
autodescubrimiento ya te observaste y pudiste comprender quién eres y en qué <br>
clase de acciones está enmarcado tu ser, ahora es importante seguir trabajando <br>
en los aspectos que tratamos en este acto, para ir fortaleciendo cada vez más la <br>
imagen que tienes de ti mismo. <br> Te felicitamos por tu sinceridad y te invitamos a <br>
continuar leyendo para que descubras las nuevas lecciones que tenemos para ti. <br>
  

{% endblock content2 %}
