{% extends 'layout.html' %}{% load static %} {% block content1 %}

<img src="{% static 'img/elemento-tierra/06.png' %}" class="" />
<div>
  
  <h3 class="cursiva-media"> 
    La misión se refiere a tu razón de ser en la vida...
    
</h3>

<p class="center">
    en este ejercicio le llamaremos
camino, ya que es una forma diferente de representar el propósito que tienes en tu
vida y puede recordarte de manera más sencilla que lo que definas por misión
será de ahora en adelante el camino a recorrer. <br> <br>
En el siguiente cuadro deberás pensar en las personas o en las cosas que son
importantes para ti, y que han dado significado a tu existencia, trata de ser lo más
claro posible para que tus ideas te permitan un mayor entendimiento de ti, es
importante tener claro esta clase de elementos pues a la hora de elaborar una
misión es determinante saber cómo tu propósito está conectado con las cosas y el
mundo que te rodea.
</p>

</div>

{% endblock content1 %} {% block content2 %}

<div >
    <h3 class="amatic2" style="padding-top: 0px;" >GENTE / COSAS  ¿qué significan para mi y porque son importantes?</h3> 
</div>

<div class="fila" style="display: flex; flex-direction:row">

    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:40%"></textarea>
    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:90%" ></textarea>
   
</div>
<div class="fila" style="display: flex; flex-direction:row">

    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:40%"></textarea>
    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:90%" ></textarea>
   
</div>
<div class="fila" style="display: flex; flex-direction:row">

    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:40%"></textarea>
    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:90%" ></textarea>
   
</div>
<div class="fila" style="display: flex; flex-direction:row">

    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:40%"></textarea>
    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:90%" ></textarea>
   
</div>
<div class="fila" style="display: flex; flex-direction:row">

    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:40%"></textarea>
    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:90%" ></textarea>
   
</div>
<div class="fila" style="display: flex; flex-direction:row">

    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:40%"></textarea>
    <textarea name="item1" id="item1" cols="30" rows="4" style="background-color: rgb(169, 211, 84); width:90%" ></textarea>
   
    <br><br>
</div>



{% endblock content2 %}
