{% extends 'layout.html' %}{% load static %}


{% block imagenCentral %}

<img src="{% static 'img/elemento-tierra/07.png' %}" class="imgcentral" style="opacity: 20%;"/>

{% endblock imagenCentral%} 

{% block content1 %}


<p class="center" style="margin-top:0; font-size: 20px;">
  Ahora vas a asumir un <br>
  nuevo reto con todo el <br>
  amor y consciencia posible, es <br>
  tiempo de escribir tu <br> camino, para ello debes
  <br> procurar tener una energía <br>
tranquila de auto <br> observación, no debes <br> preocuparte por el resultado <br> final.
</p>



{% endblock content1 %} 



{% block content2 %}

<p class="amatic2" style="font-weight: 600; font-size: 30px; margin-bottom:0%" >
  Estos son algunos consejos útiles que puedes <br> tener en cuenta para la
construcción de tu camino:
<br>
</p>


<p class="center" style="margin-top:0; font-size: 20px;">
  <br><br>

  1. Comienza con un verbo que describa tu propósito <br> en la vida (servir,
enseñar, crear, aconsejar, etc.). <br>
2. Elige un sustantivo para describir a quien o a que <br> está dirigido tu propósito, 
(niños, ancianos, adultos, <br> la tierra, los computadores, etc...). <br>
3. Incluye las habilidades o talentos que vas a utilizar. <br>
4. Por último, expresa el resultado que esperas.
</p>

{% endblock content2 %}
