{% extends 'layout.html' %}{% load static %} {% block content1 %}

    <div style="height: 100px;">

    </div>
  <h3>Ejemplo:</h3>
  <h3 class="cursiva-media" style="font-weight: 600;"> 
    

    Mi camino es brindar herramientas, que permitan un <br> autoconocimiento en
    las personas para encontrarle el sentido <br> a la vida.

    
</h3>

<img src="{% static 'img/elemento-tierra/08.png' %}" class="" />

<p class="center" >
    Es el momento de escribir para qué viniste a este mundo, ten muy presente la
    repuesta que diste sobre quién eres tú y así mismo presta mucha atención al
    cuadro anterior en donde diste claridad a las cosas y personas que son
    importantes para ti.
</p>


{% endblock content1 %} {% block content2 %}

<h4 style="font-family:'Times New Roman', Times, serif" >Escribe tu camino como el gran propósito de tu existencia.</h4>

<h2 class="cursiva-media">mi Camino es:</h2>



  <form action="" style="display: flex; flex-direction:column">
    <textarea name="camino" id="camino" cols="60" rows="8" style="background-color: rgb(200, 226, 136);" ></textarea>

    <button  class="btn btn-dark " id="btn-guardar" onSubmit={guardar(e)} style="z-index: 3;" >Guardar </button>

</form>


{% endblock content2 %}
