{% extends 'layout.html' %}{% load static %} {% block imagenCentral %}

<img
  src="{% static 'img/elemento-tierra/11.png' %}"
  class="imgcentral"
  style="opacity: 20%"
/>

{% endblock imagenCentral%} {% block content1 %}

<p class="center">
  Si he llegado a este punto quiere decir que ya sé para qué existo, por lo
  <br />
  tanto, es el momento de desplazar toda la energía a ese propósito de vida, a
  <br />
  la construcción de un destino, que me permita tener más claridad en el <br />
  camino. Le llamaremos destino en lugar de visión, ya que queremos hacer <br />
  referencia al lugar al que nos lleva el camino después de recorrerlo. <br />
  <br />
  El camino (misión) y el destino (visión) están muy relacionados, y para poder
  <br />
  escribir un destino personal, debemos tener en cuenta el camino. <br />
  <br />
  Estos son algunos consejos útiles que debo tener en cuenta para la
  construcción de mi <br />
  destino:
</p>

{% endblock content1 %} {% block content2 %}

<p class="amatic2" style="font-weight: 600; font-size: 30px">
  1. Que capte un sueño importante y motivador <br />
  (que me entusiasme) y me suministre la energía necesaria <br />
  para perseverar. <br />
  2. Que sea conciso. <br />
  3. Que esté expresado en forma positiva y que hable <br> de un mundo mejor. <br />
  4. Que sea flexible. <br />
  5. Que no contenga acciones demasiado específicas, por si <br> cambian las
  necesidades y las circunstancias.
</p>

{% endblock content2 %}
