{% extends 'layout.html' %}{% load static %} {% block imagenCentral %}



{% endblock %} {% block content1 %}

<div style="width: 80%">
  <p style="text-align: justify">
    El elemento tierra representa el guerrero protector del camino.<br />
    El guerrero se presenta en tu vida, cuando ves manifestadas en tu <br />
    ser dificultades con la autoridad, caes fácilmente en discusiones y<br />
    conflictos, sueles abusar del poder y no ejerces un liderazgo <br />
    positivo. También puede ocurrir lo contrario, puedes evitar mostrar<br />
    tus talentos y cosas positivas para no hacer sentir mal a nadie,<br />
    te inhibes a ti mismo, proyectas tu necesidad de liderazgo en otros<br />
    individuos a los que idealizas primero, para luego, cuando no <br />
    actúan como esperas, poder criticarlos y competir con ellos.<br />
    <br /><br />
    Desarrollar la capacidad de honrar tus propias habilidades y <br />
    talentos, así como las de los demás, es una buena práctica para <br />
    escuchar al guerrero guía que llevas en tu interior. Este es un <br />
    elemento que representa la verdad, entendiéndola como el camino<br />
    más corto en la vida.<br />
    <br /><br />
  </p>
  <p style="color: rgb(41, 129, 41); font-weight: 600" align="justify">
    Recuerda que la verdad no debe ser cruel sino natural, motivada <br />
    por el amor y el respeto a los demás y a ti mismo. Asumir la <br />
    responsabilidad en cada acto, cómo aprender a decir “SI” y aprender a decir
    “NO”.
  </p>
</div>

{% endblock content1 %} {% block content2 %}

<div style="display: flex; flex-direction: row; align-items: center">
  <img src="{% static 'img/elemento-tierra/16.png' %}" alt="" />
  <h2 class="amatic2" style="margin: 0; padding: 0; font-weight: 600">
    Meditación:
  </h2>
</div>

<div style="width: 70%">
  <p class="center" style="margin: 0">
    <br /><br /><br />
    Durante 15 minutos, si es posible al aire libre, descalzo, permanece parado
    en el prado, con los brazos totalmente abiertos tratando de emular un árbol,
    para sentir que estás enraizado en la tierra y que eres firme, procura tener
    tus ojos abiertos fijos en un punto.
  </p>
</div>
<br /><br />
<div style="display: flex; flex-direction: row; align-items: center">
  <img src="{% static 'img/elemento-tierra/17.png' %}" alt="" />
  <p
    class="amatic2"
    style="
      color: rgb(40, 122, 37);
      padding: 0px;
      margin: 0;
      height: auto;
      font-weight: 600;
    "
  >
    Frases de poder:
  </p>
</div>

<p
  class="cursiva-media"
  style="margin: 0; padding: 0; font-weight: 600; font-size: 30px"
>
  - Yo soy un ser humano que respeta el camino que recorre. <br />
  - Yo soy una expresión divina de la vida, amo y acepto mis talentos. <br />
  - Yo soy una persona sincera que defiende la verdad. <br />
</p>
<br />
<br />
<div style="width: 60%; background-color: rgb(37, 71, 14); color: white">
  <p class="center">
    Para introyectar el elemento tierra te sugerimos escribir estas frases donde
    las puedas leer diariamente
  </p>

</div>

<p>
  <span class="cursiva-media" style="font-size: 30px;" >¡Felicitaciones!</span> ahora ya tienes tu destino claro y es tiempo de recorrer el camino, recuerda que tu palabra es un contrato y en el momento qen que la escribes se convierte en una verdad, firma el compromiso con tu vida y alcanza tu destino recorriendo el camino con amor.
</p>

{% endblock content2 %}
