{% extends 'layout.html' %}{% load static %} {% block imagenCentral %}



{% endblock %} {% block content1 %}
<div style="display: flex; flex-direction: row; align-items: center">
  <img src="{% static 'img/aire/03.png' %}" alt="" style="width: 150px;" />
 
</div>

<div style="width: 95%" style="margin: 0; ">
  <p>
    El elemento aire es el elemento de la <span class="cursiva-media" style="margin: 0; padding: 0; font-weight: 600; font-size: 30px">prudencia</span> , expresa su <span class="cursiva-media" style="margin: 0; padding: 0; font-weight: 600; font-size: 30px">quietud</span> y siempre busca las soluciones inmediatas manteniendo las situaciones en calma, representando siempre una inhalación y una exhalación oportuna.
  </p>
  <p  style="color: rgb(79, 27, 108); font-size:large; font-family:Amatic SC;" >
    “Sumérgete en el mundo, siente el universo en cada latido de tu corazón,  respira la vida en cada experiencia y deja que el camino renueve a cada instante el aire de tu vida”. El maestro
  </p>
  <p>
    Justo esta mañana recordé lo que alguna vez de pequeño mi antiguo maestro me había enseñado. Hacía ya muchos años que había partido a recorrer mi propio camino, “el camino de la magia y de la transformación” (recuerdo que aquella frase salió de sus labios el día en que nos despedimos). Me encontraba bastante angustiado pues no sabía bien qué tipo de decisiones iba a enfrentar, en un mundo hasta ahora inexplorado para mí. 
  </p>
  <p>
    Durante aquellos años sólo había conocido la paz de la montaña, por lo que era natural para mí sentir temor ante lo nuevo; mi maestro me miró ese día y me dijo: todo aquello en lo que crees, todo aquello que valoras, así como tus fortalezas y debilidades, serán tus guías naturales ahora que sales a vivir tu propia aventura. Deberás ser como el aire, mi querido discípulo, <br> siempre <span class="cursiva-media" style="font-size: 30px;">fresco, nuevo, libre, tranquilo y sobre todo prudente</span>; cada vez que te encuentres ante una situación emocionalmente muy fuerte, solo respira; si te angustia, sólo respira; si sientes miedo, sólo respira; si sientes un amor que te desborda, sólo respira, siempre pausada y profundamente y permitirás que el aire nuevo llene cada rincón de tus pulmones.  Así tus decisiones traerán siempre nuevos aires para tus caminos.
  </p>

  <p style="color: rgb(109, 38, 147); font-weight:600">
    Esa enseñanza me ha acompañado durante toda mi vida y precisamente solo respirar de manera consciente y profunda ha hecho una gran diferencia.

  </p>
</div>

{% endblock content1 %} {% block content2 %}




<div style="width: 70%">
<p>
  El aire que respiramos es purificador: a través de el podemos renovar nuestra energía interna para mantenernos en un estado de novedad constante, pues al inhalar respiro lo nuevo y al exhalar expulso lo viejo.
</p>

  <p class="center" style="margin: 0">
    En los actos anteriores llevando a cabo las lecciones de cada acto, has entrado en contacto con quien eres y tu propósito en la vida. En muchas ocasiones la imagen que tienes de tu propia vida, las cosas en las que crees y en las que centras tu atención, determinan la imagen que tienes de ti mismo y la forma como vives tu propósito. 
  </p>
</div>
<br /><br /> <br> <br>


<p
  class="cursiva-media"
  style="margin: 0; padding: 0; font-weight: 600; font-size: 30px"
>
En este nuevo acto, representado por el elemento aire, vas a definir aquellas creencias que han construido el ser humano que eres.
</p>

</div>

{% endblock content2 %}
