{% extends 'layout.html' %}{% load static %} {% block content1 %}

<img src="{% static 'img/aire/14.png' %}" class="imgcentral-i" />
<div style="height: 300px;"></div>
<div style="z-index: 5;"> 

    <p style="text-align: center" >
       
        <br />
        Los valores son un conjunto de cualidades, que determinan la manera de ser y 
         comportarse de una persona, y qué es lo que busca alcanzar o vivir con sus acciones 
          (lo que realmente valora).
          <br><br>
      
      Los valores son subjetivos y varían según la persona, puesto que son una elección natural 
       adquirida de la experiencia de vivir y compartir la vida con otros. Pero los grupos humanos 
        suelen coincidir en muchos de sus valores, que conforman, junto con los hábitos, la cultura 
         que caracteriza a cada grupo.
      
        <br />
      </p>
</div>

{% endblock content1 %} {% block content2 %}

<div style="margin-top: 0%;">
    <h4 class="amatic2" style="font-size: 40px; color:blueviolet">
        ¿CUALES SON TUS VALORES PRINCIPALES? </h4>
    
        <span>A continuación, selecciona los valores que consideras más representativos en tu vida.</span>
    
        <div style="height: 90%; display:flex; flex-direction:row; justify-content:space-around">
        
            <div style="width: 180px;">
               <div> <input type="checkbox"> Yo soy familiar</div>
                <div><input type="checkbox">Yo soy agradecido</div>
                <div><input type="checkbox">Yo soy prudente</div>
                <div><input type="checkbox">Yo soy noble</div>
                <div><input type="checkbox">Yo soy justo</div>
                <div><input type="checkbox">Yo soy tolerante</div>
                <div><input type="checkbox">Yo soy servicial</div>
                <div><input type="checkbox">Yo soy respetuoso</div>
                <div><input type="checkbox">Yo soy amoroso</div>
                <div><input type="checkbox">Yo soy equilibrado</div>
                <div><input type="checkbox">Yo soy amigable</div>
                <div><input type="checkbox">Yo soy amable</div>
                <div><input type="checkbox">Yo soy responsable</div>
                <div><input type="checkbox">Yo soy disciplinado</div>
                <div><input type="checkbox">Yo soy compasivo</div>
                <div><input type="checkbox">Yo soy sereno</div>
                <div><input type="checkbox">Yo soy valiente</div>
                <div><input type="checkbox">Yo soy inteligente</div>
                <div><input type="checkbox">Yo soy humilde</div>
                <div><input type="checkbox">Yo soy organizado</div>
                <div><input type="checkbox">Yo soy fiel </div>
                <div><input type="checkbox">Yo soy seguro</div>
                <div><input type="checkbox">Yo soy cumplido</div>
                <div><input type="checkbox">Yo soy lider</div>
                <div><input type="checkbox">Yo soy perseverante</div>
            </div>
    
            <div>
                <div> <input type="checkbox"> Yo soy resiliente</div>
                <div> <input type="checkbox"> Yo soy saludable</div>
                <div><input type="checkbox"> Yo soy sencillo</div>
                <div><input type="checkbox">Yo soy desprendido</div>
                <div><input type="checkbox">Yo soy libre</div>
                <div><input type="checkbox">Yo soy honesto</div>
                <div><input type="checkbox">Yo soy sincero </div>
                <div><input type="checkbox">Yo soy carismático</div>
                <div><input type="checkbox">Yo soy solidario</div>
                <div><input type="checkbox">Yo soy emprendedor</div>
                <div><input type="checkbox">Yo soy autónomo</div>
                <div><input type="checkbox">Yo soy positivo</div>
                <div><input type="checkbox">Yo soy alegre</div>
                <div><input type="checkbox">Yo soy comprometido</div>
                <div><input type="checkbox">Yo soy empatico</div>
                <div><input type="checkbox">Yo soy comprensivo</div>
                <div><input type="checkbox">Yo soy cariñoso</div>
                <div><input type="checkbox">Yo soy ecológico</div>
                <div><input type="checkbox">Yo soy leal</div>
                <div><input type="checkbox">Yo soy trabajador</div>
                <div><input type="checkbox">Yo soy confiable</div>
                <div><input type="checkbox">Yo soy entusiasta</div>
                <div><input type="checkbox">Yo soy espiritual</div>
                <div><input type="checkbox">Yo soy consciente</div>
                <div><input type="checkbox">Yo soy coherente</div>
    
    
            </div>
        
        </div>
</div>

   

{% endblock content2 %}
