{% extends 'layout.html' %}{% load static %} {% block imagenCentral %}



{% endblock %} {% block content1 %}

<div style="width: 80%">
  <p style="text-align: justify">
    El elemento aire representa al vidente defensor de la libertad.</p>

<p>El vidente se presenta en tu vida cada vez que estas intentando crear un falso yo, para cubrir las expectativas ajenas. Suele verse representado cuando sientes aparente amor por otras personas, para obtener la aprobación ante los demás o mantener una falsa paz.</p>

<p>
  El desarrollar la capacidad de ser libre, para representar tu papel en el mundo, activa y le da forma al vidente en tu vida. Cuando te encuentras con este arquetipo despierto en tu ser, es fácil entender y vivir graciosa y naturalmente cada instante, porque puedes sentir y ver tu conexión con cada momento, y entender que solo sales bien librado cuando eres tú mismo. Sentir la libertad de ser es fundamental. 
</p>

  <p style="text-align: justify; color:rgb(116, 45, 183)">
    Cuando te aceptas, estas mejor preparado para aceptar a los demás y esto te permite integrarte nuevamente con todo aquello que tienes para compartir con los demás, libres de la necesidad de juzgar, porque ya has dejado de juzgarte.
  </p>
</div>

{% endblock content1 %} {% block content2 %}

<div style="display: flex; flex-direction: row; align-items: center">
  <img src="{% static 'img/elemento-tierra/16.png' %}" alt="" />
  <h2 class="amatic2" style="margin: 0; padding: 0; font-weight: 600">
    Meditación:
  </h2>
</div>

<div style="width: 90%">
  <p class="center" style="margin: 0">
    <br /><br /><br />
    Esta es una meditación en movimiento, se sugiere que, corriendo, nadando, barriendo, <br>
     haciendo cualquier cosa, se desplace toda la atención a la acción, para permitirnos ver <br>
      de forma creativa todo cuanto está ocurriendo, y descifrar las señales que la vida te <br>
       regala en cada acción que ejerces. <br>
Otra actividad que sugerimos es tomar semillas o granos y contarlos mientras los pasas <br>
 de un lado a otro, esto se debe hacer pausadamente y muy consciente de tu respiración.

  </p>
</div>
<br /><br />
<div style="display: flex; flex-direction: row; align-items: center">
  <img src="{% static 'img/elemento-tierra/17.png' %}" alt="" />
  <p
    class="amatic2"
    style="
      color: rgb(40, 122, 37);
      padding: 0px;
      margin: 0;
      height: auto;
      font-weight: 600;
    "
  >
    Frases de poder:
  </p>
</div>


<div style="background-color: rgb(137, 199, 241); width:80%">
  <p
  class="cursiva-media"
  style="margin: 0; padding: 0; font-weight: 600; font-size: 30px"
>
  - Yo me amo y me acepto tal y como soy ahora. <br />
  -	Yo tengo mis ojos despiertos a la verdad de la vida. <br />
  -	Yo soy una persona clara, coherente y consciente. <br />
</p>
</div>


<div style="width: 60%; background-color: rgb(169, 2, 88); color: white; margin-top:10px" >
  <p class="center">
    Para introyectar el elemento aire te sugerimos escribir estas frases donde
    las puedas leer diariamente
  </p>
</div>
<p>
  <span class="cursiva-media" style="font-size: larger;">Respira libre y sereno,</span> has llenado de aire tu vida en este acto representado por el elemento aire, que el conocimiento profundo de tus creencias y valores, te permita respirar un aire de paz en tu vida.
</p>
{% endblock content2 %}
