{% extends 'layout.html' %}{% load static %} {% block imagenCentral %}

<img
  src="{% static 'img/fuego/03.png' %}"
  class="imgcentral"
  style="opacity: 20%"
/>

{% endblock imagenCentral%} {% block content1 %}

<div style="width: 85%">
  <p class="center">
    Cuando hablamos del elemento fuego hacemos referencia al sentimiento y la
    emocionalidad dispuesta en tus acciones; el fuego desde su etimología
    también hace referencia a la concentración en el punto caliente, es decir en
    las sensaciones importantes, el elemento fuego nos invita a <strong><i>sentir con
      intensidad</i></strong> y a comprometernos desde la concentración.
  </p>

  <p>-Maestro, si existe el amor, ¿por qué existe el sufrimiento?</p>

  <p>
    - Maravillosa pregunta y te aseguro que te sorprenderá aún más la respuesta,
    ambas cosas son exactamente lo mismo.
  </p>

  <p>
    -Pero maestro ¿cómo puedes decir que el amor y el sufrimiento son iguales?
  </p>
  <p>-Dime pequeño, ¿cómo te sientes cuando amas?</p>

  <p>
    -Me siento invadido por una fuerza poderosa que me desborda y me lleva a
    vivir mi vida con intensidad, como si nada importara, como si la expectativa
    fuera dueña de una certeza.
  </p>

  <p>-Maravillosa respuesta, ahora dime: ¿cómo te sientes cuando sufres?</p>

  <p>
    -Me siento invadido por una fuerza poderosa que al contrario del amor me
    hace mal, sin embargo, también ocurre algo similar, es como si nada
    importara, como si la expectativa fuera dueña de una certeza.
  </p>

  <p>
    -También esta es una respuesta correcta, el hombre ha perdido las señales
    que guían el amor y el sufrimiento. Amar y sufrir son lo mismo, puesto que
    el sufrimiento no significa dolor, <strong><i>sufrir algo es sentirlo, amar algo es
      sentirlo;</i></strong> el sufrimiento natural visto desde el amor que también lo es, solo
    representa el fuego que viene en el alma de cada uno de nosotros, el fuego
    de lo nuevo, el fuego del sueño, el fuego de la esperanza, el fuego de las
    metas. La pasión que es la raíz de la palabra sufrimiento, solo te indica
    qué tan vivo y motivado estás frente a la experiencia del conocimiento del
    mundo. <br> 
  </p>
</div>

{% endblock content1 %} {% block content2 %}

<div style="margin-top: 0%; margin-bottom:0%; margin-left:15%">
  <p>
    <strong><i>Encontrarse a sí mismo en un estado de amor, es celebrar el fuego
      interno, que no es otra cosa que ver la luz que ilumina al mundo, Encendida
      en ti.</i></strong>
  </p>
  <p class="center" >
    Ese día comprendí que la pasión solo representaba sentir algo demasiado, o
    sufrirlo de la manera que mi maestro me había explicado. Solo era una cara
    diferente del amor que se presentaba en nuestro camino, sobre todo cuando nos
    enfrentábamos al cambio. Y es en que todo lo que había aprendido hasta ahora
    seguía tratándose de lo mismo: “el maravilloso poder de la transformación”.
    Desde ese día mi alma empezó a arder con intensidad, una intensidad que se
    hizo más grande cada vez que estuve frente a mi sueño, esa luz natural del
    amor, ese fuego precioso que vive en mí desde entonces, y cada vez que puedo
    comparto mi luz para que otros aprendan a sentir el amor en sus corazones.
  </p>
  <p style=" color:rgb(208, 51, 20); font: weight 600px;">
    El fuego que vive en los corazones de aquellos que han dedicado su vida a
    soñar, es un fuego que purifica, es el fuego que ha construido cada maravilla
    del mundo, es la chispa divina que el universo y su padre han puesto en ti,
    para que cada cosa que hagas tenga todo el sentido maravilloso que te
    acompaña, desde que eres un alma que pertenece a la historia de esta hermosa
    humanidad.</p>

    <p class="" style= " font-family:'Amatic SC'; font-weight: 600; font-size: 20px; color:rgb(208, 120, 20);">
      Ya has recorrido hasta aquí un importante camino, en el ejercicio de
      autorreconocerte, ya has activado en ti tres elementos previos a través de sus
      tareas fundamentales, te has definido con el agua, has hecho tu propósito con
      la tierra, has transformado tus creencias, actitudes y valores con el aire y
      ahora es el turno del elemento fuego para construir metas claras que te
      permitan vivir el propósito.
    </p>
 
    
  
</div>


{% endblock content2 %}
